[project]
	description = WorkPlace\n\
"review: author=*; reviewer=belyabl9; path=.+"
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group WorkPlaceGroup
	owner = group user/Vladislav (shapovalvladislav)
[access "refs/for/refs/*"]
	read = group WorkPlaceGroup
	read = group user/Vladislav (shapovalvladislav)
	push = group WorkPlaceGroup
	push = group user/Vladislav (shapovalvladislav)
	label-Code-Review = -2..+2 group WorkPlaceGroup
	label-Code-Review = -2..+2 group user/Vladislav (shapovalvladislav)
	label-Verified = -1..+1 group WorkPlaceGroup
	label-Verified = -1..+1 group user/Vladislav (shapovalvladislav)
	rebase = group WorkPlaceGroup
	rebase = group user/Vladislav (shapovalvladislav)
	removeReviewer = group WorkPlaceGroup
	removeReviewer = group user/Vladislav (shapovalvladislav)
	submit = group WorkPlaceGroup
	submit = group user/Vladislav (shapovalvladislav)
[access "refs/heads/*"]
	read = group WorkPlaceGroup
	read = group user/Vladislav (shapovalvladislav)
	create = group WorkPlaceGroup
	create = group user/Vladislav (shapovalvladislav)
	push = group WorkPlaceGroup
	push = +force group user/Vladislav (shapovalvladislav)
	pushMerge = group WorkPlaceGroup
	pushMerge = group user/Vladislav (shapovalvladislav)
[access "refs/tags/*"]
	push = group WorkPlaceGroup
	push = +force group user/Vladislav (shapovalvladislav)
	pushTag = group WorkPlaceGroup
	pushTag = group user/Vladislav (shapovalvladislav)
	pushSignedTag = group WorkPlaceGroup
	pushSignedTag = group user/Vladislav (shapovalvladislav)
